* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#calculator-body {
  background: #363636;
  width: 700px;
  display: grid; /* create a grid */
  grid-template-columns: repeat(4, 130px);
  grid-auto-rows: 100px;
  
  /* space between tracks */
  column-gap: 10px;
  row-gap: 10px; 
}


#calculator-body > button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 25px;
}

#calculator-body > button:hover {
  background: #d7d9dd;
  border-color: #d7d9dd;
}



#zero, #one, #two, #three, #four, #five,
#six, #seven, #eight, #nine, #decimal {
  background-color: #f1f3f4;
}

.operator {
  background-color: #dfe1e5;
}

#equal {
  background-color: #4285f4;
  color: #fff;
}

#display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background: white;
}